My first jupternote book porject

In [ ]:
Introduction

In [ ]:
Data science languages
Python
R
julia
scala
matlab
sql

Data science library
pandas
numpy
sciketlearn
matploitlib
pytorch

Data science tools
VS Code
jupyter notebook
jupyter lab
Dataset

In [ ]:
 introducing arithmetic expression examples

In [ ]:
x = 5*6
x = 5+6

In [ ]:
minutes=120
x = minutes/60

Exercise 10 -Insert a markdown cell to list Objectives. 
Data exploration
data manipulation
data generation
data scaling data analyzing
data storage

In [ ]:
Author name 
Muhammad hashim khan